<h1 class="mt-2">Accueil</h1>
<div class="row">
  <div class="col-md-12 mb-2" *ngFor="let stage of stages">
    <div class="card w-100">
      <div class="card-header custom-color-card text-center">
        {{ stage.prenom + ' ' + stage.nom }}
      </div>
      <div class="card-body text-center">
        <h5 class="card-title">{{ stage.titrestage }}</h5>
        <p class="card-text mb-1">{{ stage.nomcomplet }}</p>
        <div class="btn-group text-center" style="margin: 5px">
          <button
            (click)="evaluer(stage.idstage)"
            class="btn btn-outline-primary mx-1"
            [disabled]="stage.dateeval" mdbBtn>
            Évaluer le stage
          </button>
          <button
            (click)="evaluerCompetences(stage.idstage)"
            class="btn btn-outline-primary mx-1"
            [disabled]="stage.datecomp" mdbBtn>
            Évaluer les compétences
          </button>

        </div>

        <div class="btn-group text-center" style="margin: 5px">
          <a
            (click)="openLink(UrlBase+stage.chemineval.slice(1))"
            *ngIf="stage.dateeval"
            target="_blank"
            class="btn btn-outline-primary mx-1 stretched-link">Visualiser l'évaluation du stage</a>

          <!-- Utiliser l'url de base du serveur comme dans le home étudiant pour les chemins des PDF d'éval-->
          <a
            (click)="openLink(UrlBase+stage.chemincomp.slice(1))"
            *ngIf="stage.datecomp"
            target="_blank"
            class="btn btn-outline-primary mx-1 stretched-link">Visualiser l'évaluation des compétences</a>
        </div>
        <p
          class="text-center text-primary mb-1"
          *ngIf="!stage.dateeval || !stage.datecomp">
          L' évaluation est disponible
        </p>
        <p class="text-center text-primary mb-1" *ngIf="stage.dateeval">
          L'évaluation du stage a été faite
          <span>{{ moment(stage.dateeval).fromNow() }}</span>
        </p>
        <p class="text-center text-primary mb-1" *ngIf="stage.datecomp">
          L'évaluation des compétences a été faite
          <span>{{ moment(stage.datecomp).fromNow() }}</span>
        </p>
      </div>
      <div class="card-footer text-center">
        {{ stage.datedebut | date:'dd/MM/YYYY' }} - {{ stage.datefin |
        date:'dd/MM/YYYY' }}
      </div>
    </div>
  </div>
</div>
