
<h1 class="mt-2">Accueil</h1>

<button *ngIf="stages.length != 0" (click)="lancerAllEvaluation()" class="btn btn-outline-primary mx-0" ng-disabled="isAllEvaluated==true" >
  Lancer toutes les évaluations
</button>
<div class="row">
  <h4 *ngIf="stages.length == 0" class="col-12">
    Il n'y a aucun stage à afficher
  </h4>
  <div class="col-md-6  " *ngFor="let stage of stages">
    <div class="card  mb-3 ">
      <div class="card-header custom-color-card  text-center">
        {{ stage.prenom + ' ' + stage.nom }}
      </div>
      <div class="card-body text-center">
        <h5 class="card-title">{{ stage.titrestage }}</h5>
        <p class="card-text mb-1">{{ stage.nomcomplet }}</p>
        <div class="text-center">
          <button
            (click)="lancerEvaluation(stage.idstage, stage.idtuteur, stage.nom, stage.prenom)"
            class="btn btn-outline-primary mx-0"
            ng-disabled="stage.evallancee || !stage.idtuteur"
          >
            Lancer évaluation
          </button>
        </div>
        <div class="text-center" *ngIf="stage.dateeval">
          <a
          routerLink="stage.chemineval"
          target="_blank"
            class="btn btn-outline-primary mx-0"
          >Visualiser l'évaluation</a
          > <!-- (click)="goToEval(stage.chemineval)" -->
        </div>
        <p class="text-center text-danger mb-0" *ngIf="!stage.idtuteur">
          L'élève n'a toujours pas renseigné de tuteur
        </p>
        <p class="text-center text-primary mb-0" *ngIf="stage.evallancee">
          L'évaluation a été lancée <span am-time-ago="stage.evallancee"></span>
        </p>
      </div>
      <div class="card-footer custom-color-card text-center">
        {{ stage.datedebut | date:'dd/MM/YYYY' }} - {{ stage.datefin |
        date:'dd/MM/YYYY' }}
      </div>
    </div>
  </div>
</div>
