<h1 id="titrePage">Accueil</h1>
<div class="row">
  <div class="col-md-6 mb-4" *ngIf="currentStages.length == 0">
    <div
      class="card grey lighten-2 h-100 mh-card card-ajouter-stage hoverable mouse-cursor"
      (click)="AjouterStage()"
    >
      <div
        class="text-white text-center d-flex align-items-center rgba-black-light h-100"
      >
        <div class="mx-auto">
          <h3 class="card-title pt-2 mb-0">
            <strong>Ajouter un stage</strong>
          </h3>
          <a class="btn-floating btn-lg primary-color"
          ><i class="fa fa-plus"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 mb-4" *ngFor="let stage of stages ; let i = index ;">
    <div class="card h-100"
         [ngClass]="{'card-disabled': annee != stage.annee}">
      <div class="" >
        <img
          class="card-img-top"
          src="assets/img/stage-{{ImgRandoms[i]}}.jpg"
          alt="Card image cap"/>
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <div class="divbouton">
        <a mat-mini-fab class="primary-color boutonModif" (click)="ModifierStage(stage)"><i class="fa fa-edit pl-1 iconeModif" style="color: white"></i></a>
      </div>
      <div class="card-body">
        <p class="mb-0 card-text">
          Annee {{ stage.annee }} - {{ stage.niveau }}A
        </p>
        <h4 class="card-title mb-0">{{ stage.titrestage }}</h4>
        <p class="mb-0 card-text">{{ stage.nomcomplet }}</p>
        <hr />
        <p class="card-text">{{ stage.description }}</p>
        <div class="row">
          <div class="col-md-6 mb-2">
            <div class="file-field">
              <div class="uploadRapport">
                <!-- Ajouter la possibilité de retélécharger un autre stage -->
                <label mdbBtn class="btn-outline-primary w-100 m-0 py-1 px-2 h-100" mdbWavesEffect>
                  <input type="file"
                         name="file"
                         accept=".pdf" (change)="uploadRapport($event,stage.idstage)"/>
                  <span *ngIf="stage.cheminrapport == null">Télécharger rapport</span>
                  <span *ngIf="stage.cheminrapport != null">ReTélécharger rapport</span>
                </label>

              </div>
              <a href="{{ UrlBase+stage.cheminrapport.slice(1) }}"
                class="btn btn-outline-primary w-100 m-0 py-1 px-2 h-100"
                target="_blank"
                 *ngIf="stage.cheminrapport != null" mdbWavesEffect download>Visualiser rapport
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="file-field">
              <div>
                <label class="btn btn-outline-primary w-100 m-0 py-1 px-2 h-100" mdbWavesEffect>
                  <input
                    type="file"
                    name="file"
                    accept=".pdf, .pptx" (change)="uploadPresentation($event,stage.idstage)" />
                  <span *ngIf="stage.cheminpres == null">Télécharger présentation</span>
                  <span *ngIf="stage.cheminpres != null">ReTélécharger présentation</span>
                </label>

              </div>
              <a href="{{ UrlBase+stage.cheminpres.slice(1) }}"
                class="btn btn-outline-primary w-100 m-0 py-1 px-2 h-100"
                target="_blank"
                 *ngIf="stage.cheminpres != null" mdbWavesEffect>Visualiser présentation
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="rounded-bottom primary-color text-center">
        <ul class="list-unstyled list-inline font-small mb-0 py-2">
          <li class="list-inline-item pr-2 white-text" *ngIf="stage.datedebut != 'Invalid date'">
            <i class="far fa-clock pr-1"></i>{{ stage.datedebut |
            date:'dd/MM/YYYY' }}
          </li>
          <li class="list-inline-item pr-2 white-text">
            <i class="far fa-clock pr-1"></i>-
          </li>
          <li class="list-inline-item pr-2 white-text"  *ngIf="stage.datefin != 'Invalid date'">
            <i class="far fa-clock pr-1"></i>{{ stage.datefin | date:'dd/MM/YYYY' }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
