#titrePage {
  margin-top: 1.5em !important;
}

.boutonModif {
  height: 45px;
  width: 45px;
  position: absolute;
  top: 43%;
  right: 5%;
}

.divbouton {
  position: relative;
  bottom: 3%;
}

.iconeModif {
  color: white;
  font-size: large;
  font-weight: normal;
}

label input[type="file"] {
  position: absolute;
  top: -1000vh;
}
