.spacer {
  flex: 1 1 auto;
}

.menu_appli{
  width: 25%;
  background: linear-gradient(
          rgba(249, 249, 249, 0.85),
          rgba(249, 249, 249, 2)
  ),url("/assets/img/sidenav.jpg");
}

.entetebar {
  z-index: 0;
}


.conteneurSideNav {
  width: 100%;
  height: calc(100vh - 56px);
  z-index: 100;
}

.contenuprincipal{
  padding: 50px;
}

.ombre{
  width: 100%;
  height: 10px;
  background-image: linear-gradient(grey, white);
}
