.spacer {
  flex: 1 1 auto;
}

.conteneurAppli{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.conteneurAppliSideNav {
  flex: 1;
}

.menu_appli{
  width: 20%;
  background: linear-gradient(
          rgba(249, 249, 249, 0.85),
          rgba(249, 249, 249, 0.85)
  ),url("/assets/img/sidenav.jpg");

}

.appli-is-mobile .conteneurAppliSideNav {
  flex: 1 0 auto;
}

.entetebar {
  position: fixed;
  z-index: 1000;
  box-shadow: 1px 5px 5px grey;
}
