.logo-polytech {
  height: inherit;
  width: inherit;
  margin: 10%;
  outline: none;
}

.logo_bottom {
  margin-top: 20px;
}

mat-list-item {
  position: relative;
}

ul{
  list-style-type: none;
}

a
{
  font-size: larger;

  width: 100%;
  height: 100%;
  top: 20%;
}


