<h1 class="mt-2">Rechercher un Stage</h1>
<div class="md-form mt-0">
  <input
    (change)="allStagesBySearchValue()"
    id="searchBar"
    [(ngModel)]="searchValue"
    class="form-control"
    type="text"
    placeholder="Search: Titre du stage, Description du stage, Entreprise, Promo, Année"
    aria-label="Search"
  />
  <button
    (click)="allStagesBySearchValue()"
    class="btn btn-light btn-lg"
  >
    Search
  </button>
  <button
    (click)="allStagesJsonToCsv()"
    class="btn btn-success btn-lg float-lg-right"
    disabled
  >
    Download CSV
  </button>
  <button
    (click)="getAllStages()"
    class="boutonAfficherTous btn btn-primary btn-lg float-lg-right"
  >
    Afficher tous les stages
  </button>

  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="idTable">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> # </th>
      <td mat-cell *matCellDef="let element"> {{element.idTable}} </td>
    </ng-container>


    <ng-container matColumnDef="titrestage">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Titre du stage </th>
      <td mat-cell *matCellDef="let element"> {{element.titrestage}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Description du stage </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <ng-container matColumnDef="niveau">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Promo </th>
      <td mat-cell *matCellDef="let element"> {{element.niveau}} </td>
    </ng-container>

    <ng-container matColumnDef="annee">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Année </th>
      <td mat-cell *matCellDef="let element"> {{element.annee}} </td>
    </ng-container>

    <ng-container matColumnDef="modifier">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Modifier</th>
      <td mat-cell *matCellDef="let element">
        <button (click)="initModify(element)" type="button" class="btn btn-info px-4">
          <i class="fa fa-info-circle fa-lg" aria-hidden="true"></i>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="supprimer">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Supprimer</th>
      <td mat-cell *matCellDef="let element">
        <button (click)="initDeleteStage(element)" class="btn btn-danger px-3">
          <i class="fa fa-trash fa-lg" aria-hidden="true" ></i>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" style="transform: rotate(0);"></tr>

  </table>

  <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>

</div>

<!-- Details and Modify modal -->
<div
  class="modal fade bd-example-modal-lg"
  id="modifyModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Modifier les informations du stage
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="Sujetdustage">Sujet Du Stage</label>
            <input
              type="text"
              class="form-control"
              id="Sujetdustage"
              aria-describedby="SujetdustageHelp"
              placeholder=""
            />
          </div>
          <div class="form-group">
            <label for="Descriptiondustage">Description Du Stage</label>
            <input
              type="text"
              class="form-control"
              id="Descriptiondustage"
              aria-describedby="DescriptiondustageHelp"
              placeholder=""
            />
          </div>
          <div class="form-group">
            <label for="NomEtudiant">Nom de l'etudiant</label>
            <input
              type="text"
              class="form-control"
              id="NomEtudiant"
              aria-describedby="NomEtudiantHelp"
              placeholder=""
            />
          </div>
          <div class="form-group">
            <label for="PrenomEtudiant">Prénom de l'etudiant</label>
            <input
              type="text"
              class="form-control"
              id="PrenomEtudiant"
              aria-describedby="PrenomEtudiantHelp"
              placeholder=""
            />
          </div>
          <div class="form-group">
            <label for="Raisonsociale">Raison Sociale</label>
            <input
              type="text"
              class="form-control"
              id="Raisonsociale"
              aria-describedby="RaisonsocialeHelp"
              placeholder=""
            />
          </div>
          <div class="form-group">
            <label for="VilledeStage">Ville de Stage</label>
            <input
              type="text"
              class="form-control"
              id="VilledeStage"
              aria-describedby="VilledeStageHelp"
              placeholder=""
            />
          </div>
          <div class="form-group">
            <label for="PaysdeStage">Pays De Stage</label>
            <input
              type="text"
              class="form-control"
              id="PaysdeStage"
              aria-describedby="PaysdeStageHelp"
              placeholder=""
            />
          </div>
          <div class="form-group">
            <label for="Datededebut">Date De Debut</label>
            <input
              type="text"
              class="form-control"
              id="Datededebut"
              aria-describedby="DatededebutHelp"
              placeholder=""
            />
          </div>
          <div class="form-group">
            <label for="Datedefin">Date De Fin</label>
            <input
              type="text"
              class="form-control"
              id="Datedefin"
              aria-describedby="DatedefinHelp"
              placeholder=""
            />
          </div>
          <div class="form-group">
            <label for="Nomenseignantencadrant"
            >Nom de l'enseignant encadrant</label
            >
            <input
              type="text"
              class="form-control"
              id="Nomenseignantencadrant"
              aria-describedby="NomenseignantencadrantHelp"
              placeholder=""
            />
          </div>
          <div class="form-group">
            <label for="Prenomenseignantencadrant"
            >Prénom de l'enseignant encadrant</label
            >
            <input
              type="text"
              class="form-control"
              id="Prenomenseignantencadrant"
              aria-describedby="PrenomenseignantencadrantHelp"
              placeholder=""
            />
          </div>
          <div class="form-group">
            <label for="MailTuteurDesStageDansLentreprise"
            >Mail Tuteur Des Stage Dans L'entreprise</label
            >
            <input
              type="text"
              class="form-control"
              id="MailTuteurDesStageDansLentreprise"
              aria-describedby="MailTuteurDesStageDansLentrepriseHelp"
              placeholder=""
            />
          </div>
          <div class="form-group">
            <label for="NomduTuteurDesStagesDansLentreprise"
            >Nom du Tuteur Des Stages Dans L'entreprise</label
            >
            <input
              type="text"
              class="form-control"
              id="NomduTuteurDesStagesDansLentreprise"
              aria-describedby="NomduTuteurDesStagesDansLentrepriseHelp"
              placeholder=""
            />
          </div>
          <div class="form-group">
            <label for="PrenomduTuteurDesStagesDansLentreprise"
            >Prénom du Tuteur Des Stages Dans L'entreprise</label
            >
            <input
              type="text"
              class="form-control"
              id="PrenomduTuteurDesStagesDansLentreprise"
              aria-describedby="PrenomduTuteurDesStagesDansLentrepriseHelp"
              placeholder=""
            />
          </div>
          <div class="form-group">
            <label for="Adressedustage">Adresse du stage</label>
            <input
              type="text"
              class="form-control"
              id="Adressedustage"
              aria-describedby="AdressedustageHelp"
              placeholder=""
            />
          </div>
          <div class="form-group">
            <label for="Annee">Année du stage</label>
            <input
              type="text"
              class="form-control"
              id="Annee"
              aria-describedby="AnneeHelp"
              placeholder=""
            />
          </div>
          <div class="form-group">
            <label for="Niveau">Niveau de l'étudiant</label>
            <input
              type="text"
              class="form-control"
              id="Niveau"
              aria-describedby="NiveauHelp"
              placeholder=""
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button (click)="closeModifications()" type="button" class="btn btn-primary">
          Annuler
        </button>
        <button
          (click)="SaveModifications()"
          type="button"
          class="btn btn-danger"
        >
          Sauvegarder
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Confirm modal for save -->

<div
  class="modal fade deleteModal"
  id="deleteModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="deleteModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Attention</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Vous êtes sur le point de supprimer ce stage de la base de données.
        </p>
        <p>Etes-vous sûr de vouloir effectuer cette action ?</p>
      </div>
      <div class="modal-footer">
        <button (click)="annulerDeleteStage()" type="button" class="btn btn-primary">
          Non
        </button>
        <button (click)="deleteStage()" type="button" class="btn btn-danger">
          Oui
        </button>
      </div>
    </div>
  </div>
</div>



